@import "../../common/colors.scss";

.groups {
  display: flex;
  flex-wrap: wrap;
}

.group {
  margin: 10px;
  padding: 10px;
  background-color: $muted-periwinkle;
  width: 450px;
  display: inline-block;

  table {
    th {
      font-weight: normal;
      text-align: center;
    }
    td {
      text-align: right;
      padding: 0 4px;
      &:nth-child(3) {
        text-align: left;
      }
    }
  }
}

.close {
  cursor: pointer;
  float: right;
  padding: 10px 14px;
  background-color: $white;
  color: $dusty-lavendar;
}

.selector {
  margin: 10px 5px;
}

input {
  margin: 0 10px;
}
