.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.group {
  margin: 10px;
  padding: 10px;
  background-color: #bbccee;
  width: 450px;
  display: inline-block; }
  .group table th {
    font-weight: normal;
    text-align: center; }
  .group table td {
    text-align: right;
    padding: 0 4px; }
    .group table td:nth-child(3) {
      text-align: left; }

.close {
  cursor: pointer;
  float: right;
  padding: 10px 14px;
  background-color: #fff;
  color: #AAAACC; }

.selector {
  margin: 10px 5px; }

input {
  margin: 0 10px; }
