$dusty-lavendar: #AAAACC;
$dark-charcoal: #444455;
$green: #009900;
$fuchsia: #990099;
$dark-urple: #660066; // pairs well with $green
$sky-blue: #88CCFF;
$muted-periwinkle: #bbccee;
$navy-blue: #000088;
$white: #fff;
